---

import Social from "./Social.astro";

---

<footer>
    <p>Learn more about my projects on:</p>
    <Social platform="Github" domain="github.com" username="bornitg" />
    <Social platform="LinkedIn" domain="linkedin.com/in"  username="alghenny-gonzalez" />
</footer>

<style>
    footer {
        display: flex;        
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
</style>